<% content_for :overview do %>
  <div class="container">
    <h1>Messages, 我是啦啦啦</h1>  
  </div>
<% end %>

<div class="page-header"></div>

<div id="container" class="row-fluid"><div class="">
    <h2> <%= current_user.username %>'s Message Box </h2>

    <ul class="nav nav-tabs">
    <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
    <li><a href="#outbox" data-toggle="tab">Outbox</a></li>
    <li><a data-toggle="modal" href="#WriteWindow">Write</a></li>
    </ul>

    <div class="tab-content">

    <div class="tab-pane active" id="inbox">

    <table class="table table-striped">
    <thead>
      <tr>
          <th>Sender:</th><th>Receiver:</th>
          <th>Subject:</th><th>State:</th>
          <th>Send_Time:</th>
      </tr>
    </thead>
    <tbody>
    <% @messages_in.each do |message| %>
      <tr>
        <% user = User.find(message.sender_ID) %>
        <td><%= link_to user.username, users_path(user) %></td>
        <td><%= link_to current_user.username, users_path(current_user) %></td>
        <% if message.state == false then %>
          <td><b><%= link_to message.subject, message %>
        </b></td>
          <td><b>Unread</b></td>
        <% else %>
          <td><%= link_to message.subject, message %></td>
          <td>Read</td>
        <% end %>
        <td><%= message.send_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <div class = "apple_pagination">
      <div class = "page_info">
        <%= page_entries_info @messages_in %>
      </div>
        <%= will_paginate @messages_in, :container => false %>
    </div>
    </div>

    <div class="tab-pane" id="outbox">
  <table class="table table-striped">
    <thead>
      <tr>
          <th>Sender:</th><th>Receiver:</th>
          <th>Subject:</th><th>State:</th>
          <th>Send_Time:</th>
      </tr>
    </thead>
    <tbody>
    <% @messages_out.each do |message| %>
      <tr>
        <% user = User.find(message.receiver_ID) %>
        <td><%= link_to current_user.username, users_path(current_user) %></td>
        <td><%= link_to user.username, users_path(user) %></td>
        <td><%= link_to message.subject, message %></td>

        <% if message.state == false then %>
          <td>Unread</td>
        <% else %>
          <td>Read</td>
        <% end %>
        <td><%= message.send_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
    </tbody>
    </table>
    <div class = "apple_pagination">
      <div class = "page_info">
        <%= page_entries_info @messages_out %>
      </div>
      <%= will_paginate @messages_out, :container => false %>
    </div>
    </div>
    </div>
  </div>
</dib>

<script>
$(document).ready(function() {
  $("a").click(function() {
    link_host = this.href.split("/")[2];
    document_host = document.location.href.split("/")[2];

    if (link_host != document_host) {
      window.open(this.href);
      return false;
    }
  });
});
</script>

<% if user_signed_in? %>
<div id="WriteWindow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 id="myModalLabel">Write</h3>
            </div>
            
            <div class="modal-body">
              <% message = Message.new %>
              <%= form_for(:message, :url => messages_path) do |f| %>
                <% if  message.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize( message.errors.count, "error") %> prohibited this message from being saved:</h2>
                       <ul>
                          <% message.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                          <% end %>
                        </ul>
                  </div>
                <% end %>
              
              <div class="control-group">
                    <% f.label :sender_ID %>
                  <div class="controls">
                    <%= f.hidden_field :sender_ID, autofocus: true, class: "input-medium", placeholder: "Sender_ID", value:"#{current_user.id}" %>
                  </div>
              </div>

                <div class="control-group">
                <label class="control-label">Receiver: </label>
                <div class="controls">
                  <%= f.text_field :receive_name, class: "input-medium", placeholder: "Reciever" %>
                </div>
               </div>

                <div class="control-group">
                <label class="control-label">Title: </label>
                <div class="controls">
                  <%= f.text_field :subject, class: "input-medium", placeholder: "Title" %>
                </div>
               </div>

                <div class="control-group">
                <label class="control-label">Content: </label>
                <div class="controls">
                  <%= f.text_area :content, :class => 'text_area input-block-level', placeholder: "Content", :colspan => "2", :rows => "12" %>
                </div>
              </div>

                  <div class="control-group">
                 <% f.label :sender_delete %>
                <div class="controls">
                  <%= f.hidden_field :sender_delete, class: "input-medium", placeholder: "sender_delete:", value:"#{false}" %>
                </div>
              </div>

                  <div class="control-group">
                 <% f.label :receiver_delete %>
                <div class="controls">
                  <%= f.hidden_field :receiver_delete, class: "input-medium", placeholder: "receiver_delete:", value:"#{false}"%>
                </div>
              </div>

                  <div class="control-group">
                 <% f.label :state %>
                <div class="controls">
                  <%= f.hidden_field :state, class: "input-medium", placeholder: "state:", value:"#{false}" %>
                </div>
              </div>

                  <div class="control-group">
                 <% f.label :send_time %>
                <div class="controls">
                  <%= f.hidden_field :send_time, class: "input-medium", placeholder: "send_time:",value:"#{Time.now.to_s}" %>
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <%= f.submit "Send", class: "btn btn-primary" %>
              <button class="btn" data-dismiss="modal">Close</button>
            </div>
            <% end %>
</div>
<% end %>

