<% content_for :overview do %>
  <div class="container">
    <h1>Messages, 我是啦啦啦</h1>  
  </div>
<% end %>

<div class="page-header"></div>

<div style="word-wrap:break-word; word-break:break-all">
  <div class="modal-header" style="margin-left:10px">
    <h3><div id="title"><%= @message.subject %></div></h3>
  </div>
    <div class="modal-body">
        <div style="margin-left:10px">
        Sent to <%= @user_receive.username %> by 
        <%= @user_send.username %> at <%= @message.send_time.strftime("%Y-%m-%d %H:%M:%S") %>
        </div></br>
        <div class="well"><%= @message.content %></div>
    </div>
</div>
