<div class="page-header">
</div>
<div class="row-fluid">
	<div class="span6">
		<%= nested_discusses @discuss.subtree.arrange(:order => :created_at) %>
		<div class="page-header tcenter">
	  	<h2><%= @discuss.title %></h2>
  		<%= "Posted by "%> 
	  	<%= link_to "#{@discuss.user.username}", users_path(@discuss.user) %>
  		<%= "at #{@discuss.created_at.strftime("%Y-%m-%d %H:%M:%S")} on " %>
  		<%= link_to "Problem #{@problem.id}", @problem %>
		</div>
		<%= raw markdown(@discuss.content) %>
	</div>
  <div class="span6">
		<%= render :partial => 'form' %>
	</div>
</div>
