<% content_for :head do %>
  <style>
  </style>
<% end %>


<h1>Problem List</h1>


<%= form_tag problems_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search for Problem ID", :name => nil %>
  </p>
<% end %>

<%= link_to "Show the complete problem list", problemslist_path %>

<h3>Volume
  <% for i in 1 .. @tot do %>
    <%= link_to i, problemslist_path(i)%>
  <% end %>
</h3>


<% if @problems.count != 0 %>
  <table>
  <tr>
    <th>Problem ID</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @problems.each do |problem| %>
  <tr>
    <td><%= problem.id %></td>
    <td><%= link_to problem.title, problem %></td>
<!--
    <td><%= problem.content %></td>
    <td><%= link_to 'Show', problem %></td>
    <td><%= link_to 'Edit', edit_problem_path(problem) %></td>
    <td><%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
  </tr>
  <% end %>
  </table>
  <br/>
<% else %>
  <br/>
  <h2>No results found!</h2>
  <br/>
<% end %>



<br/>
<%= link_to 'New Problem', new_problem_path %> |
<%= link_to 'Back to home', '/' %>