<%- model_class = Problem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<form id="filterform" class="form-inline" method="">
<%= form_tag problems_path, :method => 'get' do %>
  <p>
    Search keyword in title: <%= text_field_tag :kwd, params[:kwd], class: "input-small", placeholder: "Keyword" %>
    <%= submit_tag "Search for Submission", :name => nil, class: "btn" %>
  </p>
<% end %>
</form>

<% if @problems.count != 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name(:id) %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
        <tr>
          <td><%= link_to problem.id, problem_path(problem) %></td>
          <td><%= link_to problem.title, problem %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @problems %>
    </div>
    <%= will_paginate @problems, :container => false %>
  </div>
<% else %>
  <h2>No results found!</h2>
<% end %>
<% if current_user %>
  <% if current_user.admin? %>
    <%= link_to t('.new', :default => t("helpers.links.Add a problem")),
            new_problem_path,
            :class => 'btn btn-primary' %>
  <% end %>
<% end %>