<%= render :partial => 'form' %>

<%- model_class = Problem -%>
<div class="page-header">
</div>

<form id="filterform" class="form-inline" method="">
<%= form_tag problems_path, :method => 'get' do %>
  <p>
    Search keyword in title: <%= text_field_tag :kwd, params[:kwd], class: "input", placeholder: "Keyword" %>
    <%= submit_tag "Search for Problems", :name => nil, class: "btn btn-primary" %>
  </p>
<% end %>
</form>

<% if @problems.count != 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= model_class.human_attribute_name("Problem ID") %></th>
        <th><%= model_class.human_attribute_name(:title) %></th>
        <th><%= model_class.human_attribute_name(:Source) %></th>
        <th><%= model_class.human_attribute_name("Virtual ID")%></th>
      </tr>
    </thead>
    <tbody>
      <% @problems.each do |problem| %>
        <tr>
          <td><%= link_to "#{1000 + problem.id}" , problem %></td>
          <td><%= link_to problem.title, problem %></td>
          <td><%= problem.ptype %></td>
          <td><%= link_to problem.pid, problem %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class = "apple_pagination">
    <div class = "page_info">
      <%= page_entries_info @problems %>
    </div>
    <%= will_paginate @problems, :container => false %>
  </div>

<% else %>
  <h2>No results found!</h2>
<% end %>
<% if current_user %>
  <% if current_user.admin? %>
    <%= link_to t('.new', :default => t("helpers.links.Add a problem")),
            new_problem_path,
            :class => 'btn btn-primary' %>
  <% end %>
<% end %>