<%- model_class = Problem -%>



<div id="page-content" class="container">
<div class="row-fluid">

<h2 style = "text-align:center"><%= "#{@problem.pid} - #{@problem.title}" %></h2>

<div class="well tcenter" id="conditions">
  <div class="span6">Time Limit: <%= @tml %>  MS</div>
  <div class="span6">Memory Limit: <%= @mml %> MB</div>
  64-bit integer IO format:
  <span class="badge badge-inverse">%lld</span>&nbsp;&nbsp;&nbsp;&nbsp;Java class name: <span class="badge badge-inverse">Main</span>
</div>

  <h3> Description </h3>
  <div class="content-wrapper well">
    <%= render :inline => @str_des.to_s %>
    <div style="clear:both"></div>
  </div>

  <h3> Input </h3>
  <div class="content-wrapper well">
    <%= render :inline => @str_input.to_s %>
    <div style="clear:both"></div>
  </div>
  
  <h3> Output </h3>
  <div class="content-wrapper well">
    <%= render :inline => @str_output.to_s %>
    <div style="clear:both"></div>
  </div>

  <h3> Sample </h3>
  <pre class="content-wrapper">
    <%= render :inline => @str_sample.to_s %>
  </pre>


<div class="functions tcenter" style="margin-bottom:20px">
  <div class="btn-group">
    <% if user_signed_in? then %>
      <a class="btn btn-primary" a data-toggle="modal" href="#SubmitWindow"> Submit </a>
    <% else %>
      <a class="btn btn-primary" a data-toggle="modal" href="#SignInWindow"> Submit </a>
    <% end %>
    
    <%= link_to "Status", status_path(:pid => @problem.id), :class => "btn" %>
    <a class="btn" href="#"> Statistics </a>
    <%= link_to "Discuss", problem_discusses_path(@problem.id) , :class => "btn" %>
  </div>
</div>

</div>
</div>


<div class="modal hide fade" id="SubmitWindow" aria-hidden="false">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h4><%= "Submit Problem #{@problem.id}: #{@problem.title}" %></h4>
  </div>
  <div class="modal-body"><table width="100%">
    <%= form_for [@problem, @submission], :html => { :class => 'form-horizontal' } do |f| %>
    <div class = "control-group">
      <%= f.label :language, :class => 'control-label' %>
      <%= f.select :language, options_for_select(ARR_CF_LANGUAGE), class: "input-medium" %>
    </div>
    <div class="control-group">
      <%= f.label :code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :code, :class => 'text_area input-block-level', :colspan => "2", :rows => "12" %>
      </div>
    </div>
    <div class="modal-footer">
    <div class="controls">
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
    </div></div>
        
  <% end %>
  </table></div>
</div>



