<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @problem.title %>
</p>

<p>
  <b>Content:</b>
  <%= @problem.content %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>

<div class = "Discuss">

<h2>Discusses</h2>
<%= render @problem.discusses %>
 
<h2>Add a discuss:</h2>
<%= render "discusses/form" %>

</div>