<% content_for :overview do %>
  <div class="container">
    <h1>News , ... </h1>  
  </div>
<% end %>

<div class="page-header"></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>News ID: </th>
      <th>Title: </th>
      <th>Last Edit Time: </th>
      <th>Author: </th>
    </tr>
  </thead>
  <tbody>
    <% @news.each do |neww| %>
      <tr>
        <td><%= neww.id %></td>
        <td><%= link_to neww.title, "#", "class" => "show_edit_News", "data-toggle" => "modal", 
        "data-title" => "#{neww.title}", "data-content" => "#{raw markdown(neww.content)}", "href" => "#ShowNewsWindow" %></td>
        <td><%= neww.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= link_to neww.user.username, users_path(neww.user) %></td>
        <% if current_user && current_user.admin == true %>
          <td><%= link_to "Edit", edit_news_path(neww), :class => 'btn btn-mini' %>
              <%= link_to "Delete", news_path(neww),
          method: :delete, data: { confirm: 'Are you sure?'}, :class => 'btn btn-mini' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.admin == true %>
  <div class="functions tcenter" style="margin-bottom:20px">
    <div class="btn-group">
      <a class="btn btn-primary" a data-toggle="modal" href="#CreatenewsWindow"> Create </a>
    </div>
  </div>
<% end %>

<div class="pagination">
  <div class="page_info">
    <%= page_entries_info @news %>
  </div>
  <%= will_paginate @news, :container => false %>
</div>

<div class="modal hide fade" id="CreatenewsWindow" aria-hidden="false">
  <div class="modal-header">
    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
    <h4> Post a news </h4>
  </div>
  <div class="modal-body"><table width="100%">
    <%= form_for @newnews, :html => { :class => 'form-horizontal' } do |f| %>
    <div class = "control-group">
      Title:
      <div class="controls">
        <%= f.text_field :title, :class => 'input-large', :colspan => "2", :rows => "12" %>
      </div>
    </div>
    <div class="control-group">
      Content:
      <div class="controls">
        <%= f.text_area :content, :class => 'text_area input-block-level', :colspan => "2", :rows => "12" %>
      </div>
    </div>
    <div class="modal-footer">
    <div class="controls">
      <%= f.submit "Submit", :class => 'btn btn-primary' %>
    </div></div>

  <% end %>
  </table></div>
</div>
