<% content_for :overview do %>
  <div class="container">
    <h1>Submissions , 我姓掉; 掉手机的掉</h1>  
  </div>
<% end %>  

<%- model_class = Submission -%>
<div class="page-header">
</div>

<form id="filterform" class="form-inline" method="">
<%= form_tag status_path, :method => 'get' do %>
  <p>
    Username: <%= text_field_tag :usn, params[:usn], class: "input-small", placeholder: "Username" %>
    Problem ID: <%= text_field_tag :pid, params[:pid], class: "input-small", placeholder: "Problem ID" %>
    Result: <%= select_tag :res, options_for_select(ARR_VERDICT, params[:res]), class: "input" %>
    Language: <%= select_tag :lan, options_for_select(ARR_LANGUAGE, params[:lan]), class: "input-medium" %>
    <%= submit_tag "Search for Submission", :name => nil, class: "btn btn-primary" %>
  </p>
<% end %>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Runid) %></th>
      <th><%= model_class.human_attribute_name(:Submitted_at) %></th>
      <th><%= model_class.human_attribute_name(:Username) %></th>
      <th><%= model_class.human_attribute_name("Problem") %></th>
      <th><%= model_class.human_attribute_name(:Language) %></th>
      <th><%= model_class.human_attribute_name(:Verdict) %></th>
      <th><%= model_class.human_attribute_name(:Time) %></th>
      <th><%= model_class.human_attribute_name(:Memory) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= submission.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= submission.user.username %></td>
        <td><%= link_to submission.problem_id, submission.problem %></td>
        <td><%= submission.language %></td>
        <td><%= submission.verdict %></td>
        <td><%= "#{submission.timeConsumedMillis} MS"%></td>
        <td><%= "#{submission.memoryConsumedBytes} KB" %></td>
        
        <td>
          <%= link_to t('.show', :default => t("helpers.links.Show Code")),
              problem_submission_path(submission.problem_id, submission), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @submissions %>
      </div>
      <%= will_paginate @submissions, :container => false %>
    </div>