<%- model_class = Submission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<form id="filterform" class="form-inline" method="">
<%= form_tag problems_path, :method => 'get' do %>
  <p>
    Username: <%= text_field_tag :usn, params[:usn], class: "input-small", placeholder: "Username" %>
    Problem ID: <%= text_field_tag :pid, params[:pid], class: "input-small", placeholder: "Problem ID" %>
    <%= submit_tag "Search for Submission", :name => nil, class: "btn" %>
  </p>
<% end %>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:Runid) %></th>
      <th><%= model_class.human_attribute_name(:Username) %></th>
      <th><%= model_class.human_attribute_name(:Problem_id) %></th>
      <th><%= model_class.human_attribute_name(:Language) %></th>
      <th><%= model_class.human_attribute_name(:Submitted_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.id %></td>
        <td><%= submission.user.username %></td>
        <td><%= submission.problem_id %></td>
        <td><%= submission.language %></td>
        <td><%=l submission.created_at %></td>
        <td>
          <% if submission.user == current_user %>
          <%= link_to t('.show', :default => t("helpers.links.Show Code")),
              problem_submission_path(submission.problem_id, submission), :class => 'btn btn-mini' %>
          <% else %>
            Show Code
          <% end %>
          <!-- 
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      problem_submission_path(submission.problem_id, submission),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %> -->
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @submissions %>
      </div>
      <%= will_paginate @submissions, :container => false %>
    </div>